* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.person-card {
  width: 30%;
  max-width: 700px;
  margin: 2rem auto;
  padding: 2.5rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    297deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(133, 143, 157, 1) 2%,
    rgba(224, 242, 242, 1) 41%,
    rgba(160, 222, 233, 1) 61%,
    rgba(58, 190, 218, 1) 100%
  );
  font-size: 1.5rem;
  word-wrap: break-word;
  border-radius: 2rem;
  box-shadow: 10px 10px 5px rgb(244, 202, 202);
}

body {
  width: 100vw;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.person-card div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.date {
  flex-direction: column;
  align-items: center;
  gap: 0 !important;
}

img {
  border-radius: 2rem;
}
.button {
  width: 10%;
  margin: 1rem auto;
}

button {
  padding: 0.7rem;
  cursor: pointer;
  background-color: rgb(72, 151, 105);
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  color: white;
  transition: all 0.5s;
}
button:hover {
  background-color: yellowgreen;
  color: blueviolet;
}

button:active {
  transform: scale(0.9);
}
@media screen and (max-width: 570px) {
  .person-card {
    width: 90%;
  }
}
